<div id="<%= dom_id product %>" class="p-2 border border-black rounded-lg flex flex-col justify-between w-1/5 bg-orange-50">

  <div class="relative rounded-t-lg item__img">
    <%= image_tag 'product_not_like.png', class: 'absolute right-5 bottom-5 cursor-pointer' %>
    <%= image_tag 'product_stab.jpg', class: 'rounded-lg item__img-product bg-orange-50' %>
  </div>

  <p class="font-semibold text-lg">
    <%= product.title %>
  </p>

  <div class="mt-0 font-bold text-xl flex justify-between items-center">
    <p>
      <%= product.price %> ₽
    </p>

    <div class="cursor-pointer">
      <%= image_tag 'product_plus.svg'%>
    </div>
  </div>
</div>
